.conteinerBtn {
  background-color: rgb(252, 136, 94);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}

button {
  padding: 12px 20px;
  margin: 60px;
  background-color: #ff6f3c; /* Un tono más vibrante */
  color: black;
  border: none;
  border-radius: 25px; /* Bordes redondeados más suaves */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff834c; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala al hacer hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

button:active {
  background-color: rgba(245, 245, 220, 0.7); /* Fondo más claro cuando se hace clic */
  transform: scale(1); /* El efecto de escala vuelve a su tamaño original */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al hacer clic */
}

button:focus {
  outline: none; /* Elimina el borde al hacer clic */
}

.img {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  height: 15%;
  width: 15%;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 15px;
}


